*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
body{
    font-family: 'Exo', sans-serif;
    background-color: rgb(161, 180, 178,.9);
    background-image: url(background.jpg);
    background-size: auto;
}
header{
    display: flex;
    justify-content: space-evenly;
    
    
    
}
h1{
    display: flex;
    font-size: 36px;
    
}
nav{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
a{
    text-decoration: none;
    color: black;
    font-size: 36px;

}
main{
    display: flex;

}
main div{
    width: 30%;
     padding-left: 70px;
    padding-bottom: 20px;
    padding-top: 22px;
    padding-right: 75px;
    background-color: rgb(114, 98, 75,.5);

    
}
div{
    
    background-color: transparent;
}
main div img{
    width: 100%;
    
}
#Portrait{
    margin-left: 300px;
    
}
#Bio{
    text-align: center;
    padding-top: 10%;
    padding-right: 10px;
}
footer{
    text-align: center;
    bottom: 0%;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}